{!-- Template view for the ANR Bar container and configuration.
--}


{!-- Container --}
<div id="networkElement">

	<div id="anrElementWrapper">
		<div id="anrElement">
			<a id="skip" href="#content" tabindex="0">Skip to content</a>
		</div>
	</div>
	
</div>


{!-- Variables --}
<script type="text/javascript">
	var tabs = [{tab_list}];
</script>
{if last_tab_name != "" && last_tab_url != ""}
	<script type="text/javascript">
		var last_tab = {
			"name": "{last_tab_name}",
			"url": "{last_tab_url}"
		};
	</script>
{/if}
{if search_results_url != ""}
	<script type="text/javascript">
		var search = {
			"action": "{search_results_url}"
		};
	</script>
{/if}
